
body {
    background-color: #e6e6ff;
}

h1{
  color:blue;
text-decoration: underline;
}

h2{
  color:#a8c9ff;
  text-decoration: fade;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #404040;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #ccffe6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #404040;
    color: white;
}
